/* Site Wide */

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    font-family: Helvetica;
    overflow: scroll;
    text-align: center;
}

/* General Class */

.links-header {
    background-color: black;
    text-align: center;
    width: auto;
    height: 100px;
}


.links-header button {
    font-size: large;
    background-color: white;
    width: fit-content;
    height: 50px;
    display: inline-block;
    margin: 25px 30px 25px 30px;
    padding: 10px 10px 10px 10px;
}

.site-footer {
    background-color: blue;
    width: auto;
    height: 150px;
    bottom: auto;
}

/* Page Specific - index.html */

.index-section {
    margin: 40px 10px 10px 10px;
    background-color: white;
    display: inline-block;
    width: 700px;
    height: 500px;
    font-family: sans-serif;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}

.index-section p {
    font-size: x-large;
    font-family: monospace;
}

#headshot {
    border-style: solid;
    border-radius: 5%;
    border-color: black;
    height: 250px;
    width: 200px;
}

/* Page Specific - Ccontacts.html */

#contacts-div {
    margin: 40px 10px 10px 10px;
    padding: 30px 10px;
    background-color: white;
    display: inline-block;
    width: 600px;
    height: 500px;
    font-family: sans-serif;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}

/* Page Specific - Resume.html */

#resume {
    width: 1000px;
    height: 1000px;
    z-index: 10;
    border: 10px solid black;
}

#resume-refrences {
    border-style: dashed;
    border-color: black;
    margin: 100px auto;
    width: 90%;
    height: fit-content;
}