* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Helvetica;
}

.links-header {
    background-color: black;
    text-align: center;
    width: auto;
    height: 200px;
}

.links-header button {
    font-size: large;
    background-color: white;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 50px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
}