* {
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
    font-family: Helvetica;
    overflow: scroll;
    text-align: center;
}


.links-header {
    background-color: black;
    text-align: center;
    width: auto;
    height: 200px;
}


.links-header button {
    font-size: large;
    background-color: white;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 50px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
}


#index-section {
    margin: 40px 10px 10px 10px;
    background-color: white;
    display: inline-block;
    width: 700px;
    height: 500px;
    font-family: sans-serif;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}


.site-footer {
    background-color: blue;
    width: auto;
    height: 150px;
}


#contacts-div {
    margin: 40px 10px 10px 10px;
    background-color: white;
    display: inline-block;
    width: 600px;
    height: 500px;
    font-family: sans-serif;
    border-style: solid;
    border-radius: 5%;
    border-color: black;
}


#index-section  p {
    font-size: xx-large;
    font-family: monospace;
}

#resume {
    width: auto;
    height: auto;
}